.review-container {
    display: flex;
    flex-wrap: wrap;
}

.review {
    border: 0.1vw solid rgb(81, 81, 81);
    border-radius: 1.5vw;

    margin: 1vw 1vw 2vw 1vw;
    padding: 0.7vw 1.5vw 2vw 1.5vw;

    width: 19vw;
}

.cafe {
    font-size: 1.2vw;
    font-weight: bold;
}

.text {
    overflow: auto;
    overflow-wrap: break-word;
    white-space: pre-wrap;

    height: 5vw;
    margin-bottom: 1vw;
    padding-left: 0.5vw;
}