.review-container {
    display: flex;
    flex-wrap: wrap;
}

.review {
    border: 0.1vw solid rgb(81, 81, 81);
    border-radius: 1.5vw;

    margin: 1vw 1vw 2vw 1vw;
    padding: 0.7vw 1.5vw 2vw 1.5vw;

    width: 19vw;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5vw;
    align-items: center;

    overflow: auto;
    height: 4vw;
    margin-bottom: 1vw;
}

.category {
    background-color: lightgray;
    border: 0.08vw solid black;
    border-radius: 0.7vw;
    padding: 0.3vw 0.3vw;
    margin: 0;
    font-size: 0.8vw;
}

.uname {
    font-size: 1.1vw;
    font-style: italic;
}

.time {
    font-size: 0.9vw;
    line-height: 0.4vw;
}

.cafe {
    font-size: 1.2vw;
    font-weight: bold;
}

.text {
    overflow: auto;
    overflow-wrap: break-word;
    white-space: pre-wrap;

    height: 5vw;
    margin-bottom: 1vw;
    padding-left: 0.5vw;
}

.rating {
    display: flex;
    justify-content: space-between;
    width: 8vw;
}

.search {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    margin: 1.5vw 0 2.5vw 0;
}

.search-icon {
    width: 1vw;
}