<!DOCTYPE html>
<html>

<head>
    <title> Edit Review </title>
</head>

<body>
    <h1> Edit review </h1>

    <form action="/edit_item/{{ review['id'] }}" method="post">
        <label for="cafe"> Café name: </label><br />
        <input id="cafe" name="cafe" type="text" value="{{ review['cafe'] }}" required /><br />

        <label for="rating"> Rating: </label><br />
        <input id="rating" name="rating" type="range" min="1" max="5" value="{{ review['rating'] }}" list="rating-ticks" /><br />

        <datalist id="rating-ticks">
            <option value="1"></option>
            <option value="2"></option>
            <option value="3"></option>
            <option value="4"></option>
            <option value="5"></option>
        </datalist>
        <div class="rating">
            <span> 1 </span>
            <span> 2 </span>
            <span> 3 </span>
            <span> 4 </span>
            <span> 5 </span>
        </div>

        <label for="text"> Review text: </label><br />
        <textarea id="text" name="text" placeholder="Write text here...">{{ review['review_text'] }}</textarea><br >

        <button type="submit" formaction="/edit_item/{{ review['id'] }}"> Submit </button>
        <button type="submit" formaction="/delete_item/{{ review['id'] }}"> Delete </button>
    </form>

    <p><a href="/"> Back </a></p>
</body>

</html>