<!DOCTYPE html>
<html>

<head>
    <title> Edit Review </title>
</head>

<body>
    <h1> Edit review </h1>

    <form action="/edit_item/{{ review['id'] }}" method="post">
        <textarea id="text" name="text"> {{ review['text'] }} </textarea>
        <input type="submit" value="Submit" />
    </form>

    <form action="/delete_item/{{ review['id'] }}" method="get">
        <input type="submit" value="Delete" />
    </form>

    <p><a href="/"> Back </a></p>
</body>

</html>