<!DOCTYPE html>
<html>

<head>
	<title> Home </title>
</head>

<body>
	<h1> Home </h1>
	<p>
		<b> Welcome </b> to <i> Cozy Cafés</i>!
	</p>

	{% if session.uname %}
	<p> Signed in on user {{ session.uname }} </p>
	<p><a href="/logout"> Logout </a></p>
	{% else %}
	<p>
		<a href="/create"> Create account </a> |
		<a href="/login"> Login </a>
	</p>
	{% endif %}

	<form action="/add_item" method="get">
		<input type="submit" value="Add review" />
	</form>

	{% if error %}
        <p style="color: red;"> ERROR: must be logged in to add a review </p>
    {% endif %}

	<hr />

	{% for review in reviews %}
	<div>
		{% for key in review.keys() %}
			{% if key == 'rating' %}
			<p> {{ review[key]}}/5 </p>
			{% elif review[key] and key != 'id' %}
			<p> {{ review[key] }} </p>
			{% endif %}
		{% endfor %}

		<a href="/comments/{{ review['id'] }}"> Comments </a>

		{% if session.id == review.id %}
		| <a href="/edit_item/{{ review['id'] }}"> Edit </a>
		{% endif %}
	</div>
	{% else %}
	<p> No reviews yet </p>
	{% endfor %}
</body>

</html>