<!DOCTYPE html>
<html>

<head>
	<title> Home </title>
	<link rel="stylesheet" href="../static/main.css" />
</head>

<body>
	<h1> Home </h1>
	<p>
		<b> Welcome </b> to <i> Cozy Cafés</i>!
	</p>

	{% if session.uname %}
		<p> Signed in on user {{ session.uname }} </p>
		<p><a href="/logout"> Logout </a></p>
	{% else %}
		<p>
			<a href="/create"> Create account </a> |
			<a href="/login"> Login </a>
		</p>
	{% endif %}

	<form action="/add_item" method="get">
		<input type="submit" value="Add review" />
	</form>

	{% if error %}
        <p style="color: red;"> ERROR: must be logged in to add a review </p>
    {% endif %}

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<p><em> {{ messages[0] }} </em></p>
		{% endif %}
	{% endwith %}

	<hr />

	<div class="review-container">

		{% for review in reviews %}
			<div class="review">
				<p class="uname"> {{ review['username'] }} </p>
				<p class="time"> {{ review['date_created']}} </p>

				{% if review['date_edited'] %}
					<p class="time"> Last edited: {{ review['date_edited'] }} </p>
				{% endif %}

				<hr />

				<p> Rating: {{ review['rating'] }}/5 </p>
				<p class="cafe"> {{ review['cafe'] }} </p>

				{% if review['review_text'] %}
				<div class="text">{{ review['review_text'] }}</div>
				{% endif %}

				<a href="/comments/{{ review['id'] }}"> Comments </a>

				{% if session['id'] == review['user'] %}
					| <a href="/edit_item/{{ review['id'] }}"> Edit </a>
				{% endif %}
			</div>
		{% else %}
			<p> No reviews yet </p>
		{% endfor %}

	</div>
</body>

</html>