<!DOCTYPE html>
<html>

<head>
    <title> {{ u["username"] }}'s profile </title>
    <link rel="stylesheet" href="../static/main.css" />
</head>

<body>
    <h1> {{ u["username"] }}'s profile </h1>

    {% if c == 0 %}
        <p> User has shared {{ c }} reviews </p>
    {% elif c == 1 %}
        <p> User has shared {{ c }} review </p>
        <p> Review was given {{ reviews[0]["date_created"] }} </p>
    {% else %}
        <p> User has shared {{ c }} reviews </p>
        <p> First review was given {{ reviews[-1]["date_created"] }} </p>
        <p> Last review was given {{ reviews[0]["date_created"] }} </p>
    {% endif %}

    <p><a href="/"> Back </a></p>

    <hr />

	<h2> Reviews </h2>

	<div class="review-container">

		{% for r in reviews %}
			<div class="review">
				<p class="uname"><a href="/profile/{{ r['user']}}"> {{ r['username'] }} </a></p>
				<p class="time"> {{ r['date_created']}} </p>

				{% if r['date_edited'] %}
					<p class="time"> Last edited: {{ r['date_edited'] }} </p>
				{% endif %}

				<hr />

				<p> Rating: {{ r['rating'] }}/5 </p>
				<p class="cafe"> {{ r['cafe'] }} </p>

				{% if r['review_text'] %}
				<div class="text">{{ r['review_text'] }}</div>
				{% endif %}

				<a href="/comments/{{ r['id'] }}"> Comments </a>

				{% if session['id'] == r['user'] %}
					| <a href="/edit_item/{{ r['id'] }}"> Edit </a>
				{% endif %}
			</div>
		{% else %}
			<p> No reviews yet </p>
		{% endfor %}

	</div>

</body>

</html>