<!DOCTYPE html>
<html>

<head>
	<title> Search </title>
	<link rel="stylesheet" href="../static/main.css" />
</head>

<body>
	<h1> Search </h1>


	<form class="search" method="post">
        <img class="search-icon" src="static/images/search.png" alt="Search icon" />
        <input id="query" name="query" type="text" placeholder="Search..." />
		<button type="submit" formaction="/search"> Search </button><br />
	</form>

    <a href="/"> Back </a>

	<hr />

    {% if searched %}
        <h2> Results for '{{ query }}' </h2>

        <div class="review-container">
            {% for r in reviews %}
                <div class="review">
                    <p class="uname"><a href="/profile/{{ r['user']}}"> {{ r['username'] }} </a></p>
                    <p class="time"> {{ r['date_created']}} </p>

                    {% if r['date_edited'] %}
                        <p class="time"> Last edited: {{ r['date_edited'] }} </p>
                    {% endif %}

                    <hr />

                    <p> Rating: {{ r['rating'] }}/5 </p>
                    <p class="cafe"> {{ r['cafe'] }} </p>

                    {% if r['review_text'] %}
                    <div class="text">{{ r['review_text'] }}</div>
                    {% endif %}

                    <a href="/comments/{{ r['id'] }}"> Comments ({{ r['count'] }})</a>

                    {% if session['id'] == r['user'] %}
                        | <a href="/edit_item/{{ r['id'] }}"> Edit </a>
                    {% endif %}
                </div>
            {% else %}
                <p> No reviews found </p>
            {% endfor %}
	    </div>
    {% else %}
        <h2> Results </h2>
        <em> Click the search button to display results </em>
    {% endif %}
</body>

</html>